.TextGroup {
    display: flex;
    flex-direction: column;
    padding: 0px;
    
    position: absolute;
    width: calc(100% - 20px);
    height: 196px;
    left: 0px;
    top: calc(50% - 238px/2);
    flex: none;
    order: 0;
    margin-left: 12px;
    margin-right: 12px;
}

.Icon28DocumentOutline {
    margin-top: 2px;
}
.Icon28ListAddOutline {
    margin-top: 6px;
}

.coverFile {
    position: static;
    width: calc(100% - 24px);
    height: 140px;
    left: 12px;
    top: 0px;
    
    /* Light Accents / Accent */
    
    border: 2px dashed #3F8AE0;
    border-radius: 10px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    align-self: center;
    margin-left: 12px;
    margin-right: 12px;
    padding: 45px;
    margin-bottom: 12px;
}
