.Icon28Cancel {
    margin-top: 0px;

}

.Icon28Edit {
    margin-top: 36px;
}

.cardButtons {
    display: flex;
    flex-direction: column;
    padding: 0px;
    
    position: absolute;
    right: 0px;
    flex: none;
    order: 0;
}

.companyText {
    margin-right: 30px;
}

.modalButton {
    width: calc(100% - 24px);
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.footerBlock {
    position: fixed;
    z-index: 2;
    width:100%;
    left: 0px;
    bottom: 0px;
    background:white;
}